<h1><%= @profile.full_name %></h1>

<p>
  <%= @profile.following_profiles.count %>
  Followers
  &#8226;
  <%= @profile.followed_profiles.count %>
  Following
</p>

<p><%= @profile.description %></p>

<% @profile.posts.each do |post| %>
  <div class="card mb-4">
    <div class="card-body">
      <p class="card-text">
        <%= post.text %>
      </p>

      <p class="card-text">
        <small class="text-muted">
          <%= localize post.published_at, format: :short %>
        </small>
      </p>
    </div>
  </div>
<% end %>
